.feed {
	min-height: 4.5rem;
}

.sortController {
	margin: 10px 0px;
	font-size: 0.85rem;
	color: #555;
}

.sortSelect {
	background: transparent;
	border: none;
	outline: none;

	font-weight: 500;
	margin-left: 5px;

	cursor: pointer;
}

.feedFallback {
	padding: 1rem;
	margin-top: 1rem;
}

.feedFallback > p {
	text-align: center;
	font-size: 0.9rem;
	font-weight: 500;
	color: #556;
}

.feedFallback > p > span {
	font-weight: 300;
	font-size: 0.8rem;
	color: #888;
}
