.feed {
	min-height: 4.5rem;
}

.feedController {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sortController {
	margin: 10px 0px;
	font-size: 0.85rem;
	color: #555;
}

.sortSelect {
	background: transparent;
	border: none;
	outline: none;

	font-weight: 500;
	margin-left: 5px;

	cursor: pointer;
}

.postsTypeController > button {
	outline: none;
	border-image: none;

	cursor: pointer;

	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #ddd;
	color: #444;
	font-size: 0.75rem;
	padding: 4px 8px;

	transition: 0.1s ease-in;
}

.postsTypeController > button:hover {
	background-color: #ccc;
}

.postsTypeController > button.active {
	background-color: #2041c5;
	border-color: #2041c5;
	color: #fff;
}

.feedFallback {
	padding: 1rem;
	margin-top: 1rem;
}

.feedFallback > p {
	text-align: center;
	font-size: 0.9rem;
	font-weight: 500;
	color: #556;
}

.feedFallback > p > span {
	font-weight: 300;
	font-size: 0.8rem;
	color: #888;
}
