.postActivity {
	width: 100%;
}

.actions {
	padding: 4px 0;

	display: flex;
	align-items: center;
	justify-content: space-around;

	border-bottom: 1px solid #ccc;
}

.action {
	color: #777;
	font-size: 0.85rem;
	padding: 4px 8px;

	cursor: pointer;
	border-radius: 4px;

	display: flex;
	align-items: center;
}

.action:hover {
	background-color: #eee;
}

.action > span {
	font-size: 0.85rem;
	margin-right: 5px;
}

.action.active > span {
	color: #444;
}
