.errorMessage {
	display: flex;
	align-items: center;
	justify-content: center;
}

.message {
	background-color: #f8d7da;
	color: #721c24;

	font-size: 0.8rem;
	padding: 3px 10px;
	border: 1px solid #f5c6cb;
	border-radius: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.message > span {
	font-size: 1rem;
	color: #721c24;
	margin-right: 4px;
}
