.successMessage {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
}

.message {
	background-color: #d4edda;
	color: #155724;

	font-size: 0.8rem;
	padding: 3px 10px;
	border: 1px solid #c3e6cb;
	border-radius: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.message > span {
	font-size: 1rem;
	color: #155724;
	margin-right: 4px;
}
