.Home {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "lefty main righty";

	background-color: #eee;
}

.Left {
	padding: 1rem;
	grid-area: lefty;
}

.Main {
	padding: 1rem;
	grid-area: main;
}

.Right {
	padding: 1rem;
	grid-area: righty;
}

@media (max-width: 850px) {
	.Home {
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"lefty righty"
			"main main";
	}

	.Left > div {
		width: 100%;
	}
}
