.home {
	min-height: calc(100vh - 4rem);

	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "lefty main righty";

	background-color: #eee;
}

.left {
	padding: 1rem;
	grid-area: lefty;
}

.left > div {
	margin-left: auto;
}

.main {
	padding: 1rem;
	grid-area: main;
}

.right {
	padding: 1rem;
	grid-area: righty;
}

@media (max-width: 850px) {
	.home {
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"lefty righty"
			"main main";
	}

	/* .Left > div {
		width: 100%;
	} */

	.main {
		width: 80%;
		margin: 0 auto;
	}
}

@media (max-width: 720px) {
	.main {
		width: 90%;
	}
}

@media (max-width: 600px) {
	.main {
		width: 95%;
	}
}

@media (max-width: 500px) {
	.main {
		width: 100%;
	}
}
