.search {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	background-color: #fff;
}

.avatar {
	height: 32px;
	width: 32px;
	margin-right: 3px;
	border-radius: 50%;

	border: 1px solid #eee;
}

.searchBar {
	outline: none;
	border-image: none;

	width: calc(100% - 32px - 129px - 10px);

	border: none;
	border-radius: 16px;
	margin: 0 12px 0 8px;

	background: #eee;
	padding: 8px 14px;
}

.imagePicker {
	margin-left: auto;
}

.imagePicker > label {
	padding: 5px 10px;
	font-size: 0.8rem;
	color: #555;

	border-radius: 4px;
	cursor: pointer;

	display: flex;
	align-items: center;

	white-space: nowrap;

	transition: 0.1s ease-in;
}

.imagePicker > label > span {
	color: #309730;
	font-size: 1.2rem;
	margin-right: 3px;
}

.imagePicker > label:hover {
	background-color: #ddd;
}

.imagePicker > input {
	display: none;
}
