.shortProfile {
	width: 85%;
	border-radius: 6px;
}

.profileBackground {
	height: 4rem;
	border-radius: 6px;
}

.avatar {
	height: 3.3rem;
	width: 3.3rem;
	border-radius: 50%;

	margin: 0 auto 1rem auto;
	margin-top: -2rem;
	padding: 3px;

	background-color: #fff;
}

.shortProfile .avatar > img {
	width: calc(100%);
	height: calc(100%);
	object-fit: contain;

	border-radius: 50%;
}

.profileData {
	text-align: center;
}

.profileData > h3 {
	font-size: 0.95rem;
	margin-bottom: 5px;
	font-weight: 500;

	color: #222;
}

.profileData > p {
	font-size: 0.85rem;
	font-weight: 400;

	color: #555;
}

.postsCount {
	margin: 0.8rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Order Matters */
.postsCount > span {
	color: #666;
	font-size: 0.8rem;
}

.postsCount > .count {
	font-weight: 500;
	font-size: 0.95rem;

	color: #333;
}

@media (min-width: 576px) {
	.avatar {
		width: 3.6rem;
		height: 3.6rem;
	}
}

@media (min-width: 728px) {
	.avatar {
		width: 4rem;
		height: 4rem;
	}
}

@media (min-width: 992px) {
	.avatar {
		width: 4.5rem;
		height: 4.5rem;
	}
}
