.notifications {
	margin: 2rem 0rem;
	padding: 1rem;

	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: "card invitations";
}

.sideCard {
	grid-area: card;
}

.invitations {
	grid-area: invitations;
	height: fit-content;
}

.invitations > h3 {
	font-size: 1rem;
	font-weight: 400;
	padding: 12px 8px;
	border-bottom: 1px solid #ccc;
}

.notificationsList {
	list-style-type: none;
}

.notificationItem {
	display: flex;
	/* align-items: center; */
	justify-content: flex-start;

	border-bottom: 1px solid #ccc;

	padding: 0.8rem 1rem 0.8rem 1.1rem;
}

.notificationItem:not(:last-of-type) {
	margin-bottom: 1rem;
}

.notificationItem.unread {
	background-color: #e2f0fe;
	position: relative;
}

.notificationItem.unread::before {
	content: "•";
	position: absolute;
	font-size: 2rem;
	top: calc(50% - 1rem);
	left: 0.45rem;
	color: #0a66c2;
}

.avatar {
	width: 56px;
	height: 56px;
}

.sender {
	flex: 1;
	height: 100%;
	padding: 0.3rem 0.5rem;
	color: #444;
}

.sender > .name {
	font-size: 0.9rem;
	font-weight: 600;

	margin-bottom: 3px;
}

.sender > .shortBio {
	font-size: 0.85rem;
	font-weight: 400;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: center;
}

.actions > div {
	font-weight: 500;
	font-size: 0.95rem;
	padding: 8px 12px;
	cursor: pointer;
	border: 1px solid transparent;

	transition: 0.15s ease-in;
}

.actions > div:not(:last-of-type) {
	margin-right: 5px;
}

.actions > .accept {
	border-radius: 20px;
	color: #0a66c2;
	border-color: #0a66c2;
}

.accept:hover {
	background-color: #e2f0fe;
	box-shadow: inset 0 0 0 1px #0a66c2;
}

.decline {
	border-radius: 4px;
	background-color: transparent;
	color: #444;
}

.decline:hover {
	background-color: #ccccccaf;
}

@media (max-width: 768px) {
	.notifications {
		grid-template-columns: 1fr;
		grid-template-areas: "card" "invitations";

		gap: 1rem;
	}

	.sideCard {
		width: 100%;
	}

	.sideCard > div {
		margin: 0 auto;
		max-width: 80%;
	}

	.invitations {
		width: 95%;
		margin: 0rem auto;
	}
}

@media (max-width: 576px) {
	.invitations {
		margin: 0 0.5rem;
	}
}
