.post {
	padding: 10px;
	margin-bottom: 1rem;

	cursor: pointer;

	background-color: #fff;
}

.header {
	display: flex;
	align-items: center;
}

.avatar {
	width: 30px;
	height: 30px;
}

.author {
	flex: 1;
	margin-left: 5px;
}

.author > h4 {
	font-size: 0.75rem;
	font-weight: 500;

	margin-bottom: 3px;

	display: inline-block;
}

.author > p {
	font-size: 0.75rem;
	color: #555;
}

.more {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.more > .action {
	width: 30px;
	height: 30px;

	padding: 5px;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: 0.1s ease-in;
}

.action:hover {
	background-color: #eee;
}

.action > span {
	color: #aaa;
	font-size: 16px;
}

.action.active > span,
.action:hover > span {
	color: #e64b4b;
}

.status {
	display: flex;
	align-items: center;
	justify-content: center;
}

.status > span {
	font-size: 16px;
}

.isVerified {
	margin-left: 3px;
	color: #0f6fc9;
}

.content {
	margin: 15px 0px 10px 0px;
	font-size: 0.85rem;
	color: #333;
}

.previewImages {
	margin: 10px;

	display: grid;
	grid-template-columns: 1fr 1fr;

	gap: 10px;
	border-radius: 8px;
	overflow: hidden;
}

.previewImages > .preview {
	height: 100px;
	width: 100%;

	text-align: center;

	background-color: #eee;
	padding: 5px;

	position: relative;

	grid-column-start: auto;
}

.preview > img {
	max-width: 100%;
	max-height: 100%;
}

.preview > span {
	position: absolute;
	top: 8px;
	right: 8px;

	color: #bbb;

	font-size: 16px;
	font-weight: 500;

	cursor: pointer;
}

.preview > span:hover {
	color: #777;
}
