.post {
	padding: 10px;
	margin-bottom: 1rem;

	background-color: #fff;
}

.header {
	display: flex;
	align-items: center;
}

.avatar {
	width: 30px;
	height: 30px;
}

.author {
	flex: 1;
	margin-left: 5px;
}

.author > h4 {
	font-size: 0.75rem;
	font-weight: 500;

	margin-bottom: 3px;
}

.author > p {
	font-size: 0.75rem;
	color: #555;
}

.more {
	width: 30px;
	height: 30px;

	border-radius: 50%;
	padding: 4px;
	cursor: pointer;
}

.more:hover {
	background-color: #ddd;
}

.content {
	margin: 15px 0px 10px 0px;
	font-size: 0.85rem;
	color: #333;
}
